body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.upper-half{
    background-color: #1F2937;
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 178px;
    margin-bottom: 100px;
}

.header p{
    font-size: 24px;
    margin: 0;
    color: #F9FAF8;
}

.link-container{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

.preview{
    display: flex;
    margin-bottom: 100px;
    justify-content: space-around;
    
}

.description{
    display: flex;
    flex-flow: column wrap;
    max-width: 400px;
}

.website-titlecard{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
}

.website-secondarycard{
    font-size: 18px;
    color: #E5E7EB;
    
}

.business-img{
    width: 600px;
    height: 300px;
}

.random-info-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    
}

.img-header{
    align-self: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.img-collection{
    display: flex;
    justify-content: center;
    gap: 50px;
}


.img-container{
    display: flex;
    flex-direction: column;
    
    
}

.img-container img{
    border: 2px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}



.quote{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    height: 250px;
   
}

.quote-box{
    width: 500px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.quote-box .quote-text{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quote-box .quote-origin{
    align-self: flex-end;
}

.call-action{
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    width:1000px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}

button{
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    padding: 10px 50px;
    width: 200px;
    height: 50px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}